{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="/static/css/detail_review.css">
  <div class="review-all">

    <div class="review-detail-container">
      {% comment %} 영화 제목 {% endcomment %}
      <div class="review-movie">
        영화제목:
        <a id="move" href="{% url 'movies:detail_movie' review.movie.pk %}" style="text-decoration: none;">{{ review.movie }}</a>
      </div>

      {% comment %} 리뷰 제목 {% endcomment %}
      <div class="review-title">
        제목: {{ review.title }}
      </div>

      {% comment %} 작성자 {% endcomment %}
      <div class="review-user">
        작성자: {{ review.user.username }}
      </div>

      {% comment %} 최종 작성시간 {% endcomment %}
      <div class="review-update_at">
      {{ review.updated_at|date:'Y/m/d' }}
      </div>

      {% comment %} 리뷰 내용 {% endcomment %}
      <div class="review-content">
        {{ review.content }}
      </div>

      {% comment %} 평점 {% endcomment %}
      <div class="review-rate">
        평점: {{ review.rate }} / 10
      </div>

      {% comment %} 수정 버튼 {% endcomment %}
      {% if request.user == review.user %}
        <div class="update-btn">
          <a href="{% url 'reviews:update_review' review.pk %}">
            <button class="inner-update-btn">수정</button>
          </a>
        </div>
      {% else %}
        <div></div>
      {% endif %}
            
      {% if request.user == review.user %}
        <div class="delete-btn">
          <button data-review-pk={{review.pk}} data-bs-toggle="modal" data-bs-target="#delete-review" class="inner-delete-btn">삭제</button>
        </div>
      {% else %}
        <div></div>
      {% endif %}

    </div>

    {% comment %} 댓글 {% endcomment %}
    <div class="comment-list">
      <h4>댓글</h4>

      <form action="{% url 'reviews:create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <button class="comment-create-btn">작성</button>
      </form>

      <br>

      {% for comment in comments %}
        {{ comment.user }} | {{ comment.updated_at|date:'Y/m/d' }}
        {% if request.user == comment.user %}
          <form style="display: inline;" action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button class="comment-delete-btn">삭제</button>
          </form>
        {% else %}
          <span></span>
        {% endif %}
        <br>
        {{ comment.content }}
        <hr>
      {% endfor %}

    </div>

  </div>

  {% comment %} 삭제여부 확인 모달 {% endcomment %}
  <div class="modal fade" id="delete-review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 95%;"></button>
        <div class="modal-body">
          <h5>리뷰를 정말 삭제하시겠습니까?</h5>
          <form class="review-delete-form" style="width: 20%; text-align: end;" action="{% url 'reviews:delete_review' review.pk %}" method="POST">
            {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-danger" style="border-radius: 25px; padding: 0px; width: 90%;">삭제</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
<script src="/static/js/detail_review.js" defer></script>
{% endblock script %}
