{% extends 'base.html' %}

{% block content %}

  <div>
    {% comment %} 리뷰 제목 {% endcomment %}
    <div class="review-title">
      {{ review.title }}
    </div>

    {% comment %} 영화 제목 {% endcomment %}
    <div class="review-movie">
      {{ review.movie }}
    </div>

    {% comment %} 작성자 {% endcomment %}
    <div class="review-user">
      {{ review.user.username }}
    </div>

    {% comment %} 최종 작성시간 {% endcomment %}
    <div class="review-update_at">
    {{ review.update_at }}
    </div>

    {% comment %} 영화이동 버튼{% endcomment %}
    <div class="move-movie-btn">
      <a href="{% url 'movies:detail_movie' review.movie.pk %}">
        <button>영화로 이동</button>
      </a>
    </div>

    {% comment %} 리뷰 내용 {% endcomment %}
    <div class="review-content">
      {{ review.content }}
    </div>

    {% comment %} 평점 {% endcomment %}
    <div class="review-rate">
      {{ review.rate }}
    </div>

    {% comment %} 수정 버튼 {% endcomment %}
    <div class="update-btn">
      <a href="{% url 'reviews:update_review' review.pk %}">수정</a>
    </div>

    {% comment %} 삭제 버튼 {% endcomment %}
    <div class="delete-btn">
      <form action="{% url 'reviews:delete_review' review.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제</button>
      </form>
    </div>

    {% comment %} 댓글입력 {% endcomment %}
    <div class="comment-form">
      <form action="{% url 'reviews:create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <button>작성</button>
      </form>
    </div>

    {% comment %} 댓글목록 {% endcomment %}
    <div class="comment-list">
      {% for comment in comments %}
        {{ comment.user }} - {{ comment.content }}
        <form action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <button>삭제</button>
        </form>
      {% endfor %}
    </div>
  </div>

{% endblock %}
