{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="/static/css/recommend_movies.css">

  <button class="start-btn">영화 월드컵 시작하기</button>
  <h2 class="tournament"></h2>
  <div class="posters">
    <img id="first-movie" src="/static/img/black.png" width="40%" height="75%" alt="">
    <h2 id="vs"></h2>
    <img id="second-movie" src="/static/img/black.png" width="40%" height="75%" alt="">
  </div>

{% endblock %}

{% block script %}
  <script src="/static/js/recommend_movies.js" defer></script>
{% endblock %}
