{% extends 'base.html' %}

{% block content %}
  {% comment %} 영화 검색 리스트 {% endcomment %}
  <div>
    {% for movie in movies%}
      영화 : {{ movie.title }}
    {% endfor %}
  </div>

  {% comment %} 리뷰 검색 리스트 {% endcomment %}
  <div>
    {% for review in reviews %}
      리뷰 : {{ review.title }}
    {% endfor %}
  </div>

  {% comment %} 장르 검색 리스트 {% endcomment %}
  <div>
    {% for movie in genres.movies.all %}
      장르 : {{ movie.title }}
    {% endfor %}
  </div>
  
  {% comment %} 배우 검색 리스트 {% endcomment %}
  <div>
    {% for actor in actors %}
      {% for movie in actor.movies.all%}
        배우 : {{ movie.title }}
      {% endfor %}
    {% endfor %}
  </div>

  {% comment %} 감독 검색 리스트 {% endcomment %}
  <div>
    {% for director in directors %}
      {% for movie in diretor.movies.all %}
        감독 : {{ movie.title}}
      {% endfor %}
    {% endfor %}
  </div>

  {% comment %} 키워드 검색 리스트 {% endcomment %}
  <div>
    {% for keyword in keywords %}
      {% for movie in keyword.movies.all %}
        키워드 : {{ movie.title }}
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}
