{% extends 'base.html' %}

{% load account %}

{% block content %}
  <link rel="stylesheet" href="/static/css/password_reset_from_key.css">
  
  <section>
  <div class="change_pw">
    <h1>새로운 비밀번호</h1>
    <form action="{{ action_url }}" method="POST">
      {% csrf_token %}  
      {% for change_pw in form %}
        <div class="input_area">
          {{ change_pw }}
          <label for="">
            {{ change_pw.label }}
          </label>
        </div>
      {% endfor %}
      <div class="change_btn">
        <button>변경하기</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}

{% block script %}
  <script>
    const input = document.querySelectorAll('.input_area input')
    console.log(input)
    input.forEach((i) => {
      i.setAttribute('placeholder', '')
      i.setAttribute('autocomplete', 'off')
    })
  </script>
{% endblock %}

