{% extends 'base.html' %}

{% load account %}
  
{% block content %}
  <link rel="stylesheet" href="/static/css/password_reset.css">

  <section>
    <div class="initialize-password">
      <h3 style="color: #11f3a2;">비밀번호 초기화를 위한 이메일을 입력해 주세요.</h3>
      <br>
      <form class="initialize-form"action="{% url 'account_reset_password' %}" method="POST">
        {% csrf_token %}
        {% for f in form %}
          <div class="input_area">
            {{ f }}
            <label for="">
              {{ f.label }}
            </label>
          </div>
        {% endfor %}
        <div class="top-btn">
          <button class="send-btn" type="submit">전송</button>
        </div>
      </form>
    </div>
  </section>

{% endblock %}

{% block script %}
  <script>
    const input = document.querySelector('.input_area input')
    input.setAttribute('placeholder', '')
    input.setAttribute('autocomplete', 'off')
  </script>
{% endblock %}
