li {
  list-style: none;
}
.slide_wrap {
  position: relative;
  /* 가운데 공간 2개에 margin 60씩 */
  width: 1200px;
  margin: 0 auto;
  height: 310px;
  overflow: hidden;
}

.slides {
  position: absolute;
  left:0; top:0;
  /* 3150px */
  transition: left 1s ease-out;
}

.slides li:not(:last-child) {
  float:left;
  margin-right: 0px;
}

.controls{
  text-align:center;
  margin-top: 50px;
}
.controls span {
  background:#333;
  color:#fff;
  padding: 10px 20px;
  margin:0 10px;
}