section {
  position: absolute;
  top: 80%;
  left: 50%;
  transform:translate(-50%, -50%);
}

li {
  list-style: none;
}
.slide_wrap {
  position: relative;
  /* 가운데 공간 2개에 margin 60씩 */
  width: 1200px;
  margin: 0 auto;
  height: 310px;
  overflow: hidden;
}

h1 {
  position: absolute;
  margin-top: 400px;
  margin-left: 100px;
  color: #11f3a2;
  font-size: 40px;
}

.slides {
  position: absolute;
  left:0; top:0;
  transition: left 1s ease-out;
  padding: 0;
}

.slides li:not(:last-child) {
  float:left;
  margin-right: 0px;
}

.slides img:hover {
  opacity: 0.4;
}

.controls{
  text-align:center;
}
.controls span {
  color: #333;
  padding: 10px 20px;
  margin:0 10px;
}
.controls span:hover {
  color:#11f3a2;
}

.caroussel {
  width: 1500px;
  display: flex;
  align-items: center;
}

.arrow-btn {
  width: 84px;
  height: 84px;
}
.carousel-inner {
  height: 800px;
}

.carousel-inner img {
  width: 100%;
  height: 8%;
  object-fit: cover;
}