section {
  position: absolute;
  top: 80%;
  left: 50%;
  transform:translate(-50%, -50%);
  margin-top: 800px;
  /* position: static;
  margin: 0 auto; */
}

li {
  list-style: none;
}
.slide_wrap {
  position: relative;
  /* 가운데 공간 2개에 margin 60씩 */
  width: 1200px;
  margin: 0 auto;
  height: 310px;
  overflow: hidden;
}

h1 {
  position: absolute;
  margin-top: 300px;
  transform:translate(-50%, -50%);
  left: 50%;
  color: #11f3a2;
  font-size: 40px;
}

.slides {
  position: absolute;
  left:0; top:0;
  transition: left 1s ease-out;
  padding: 0;
}
.slides li {
  overflow: hidden;
}

.slides li:not(:last-child) {
  float:left;
  margin-right: 0px;
}
.slides img {
  box-shadow: 10px 10px 50px 10px green inset;
  opacity: 0.8;
  transition: all .5s ease;
}
.slides img:hover {
  opacity: 1.0;
  transform: scale(1.2) ;
}

.controls{
  text-align:center;
}
.controls span {
  color: #333;
  padding: 10px 20px;
  margin:0 10px;
}
.controls span:hover {
  color:#11f3a2;
}

.caroussel {
  width: 1500px;
  display: flex;
  align-items: center;
}

.background_img {
  margin-top: 50px;
  opacity: 0.2;
}
.background_img img {
  position: fixed;
  background-size: cover;
  pointer-events: none;
  width: 100%;
  height: 1000px;
}

h3 {
  margin-left: 150px;
  color: #11f3a2;
}