.complete-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  border: solid 1px #11f3a2;
  color: white;
  padding: 2%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.move:hover {
  color: #11f3a2;
}

p {
  margin: 2px;
}