.titlebox {
  position: absolute;
  left: 10%;
  top: 12%;
  color:#11f3a2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlebox a {
  color:black;
  background-color:#049662;
  border: 2px solid;
  border-radius: 30px;
  margin-left: 10px;
  font-weight: bold;
}

.profile_menu {
  border: 1px solid #11f3a2;
  position: absolute;
  top: 50%;
  left: 12%;
  height: 200px;
  transform:translate(-50%, -50%);
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_menu li {
  font-size: 18px;
  list-style: none;
  color: white;
  padding: 12px 8px 12px 8px;
  text-align: center;
  margin: 0 15px;
}
.profile_menu li:hover {
  color:#11f3a2;
  cursor: pointer;
}


/* ------나의 관심영화------ */
.my_like {
  display: none;
}
.my_like.active {
  display: grid;
  position: absolute;
  top: 20%;
  left: 22%;
}
.my_like h2 {
  color:white;
}

/* 그리드 박스 */
.my_like_box {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  grid-gap: 80px;
  width: 1700px;
}
.my_like_box .box{
  width: 250px;
  height: 357px;
  overflow: hidden;
}
.my_like_box .box a{
  width: 250px;
  height: 357px;
  padding: 0;
  overflow: hidden;
}
.my_like_box .box a img {
  color: white;
  text-align: center;
  /* margin: 30px 70px; */
  width: 250px;
  height: 357px;
  transition: all .5s ease;
  opacity: 0.8;
}
.my_like_box .box a:hover img {
  transform: scale(1.2) ;
  opacity: 1;
}


/* ------내가 쓴 리뷰------ */
.my_review {
  display: none;
}
.my_review.active {
  display: grid;
  position: absolute;
  top: 20%;
  left: 22%;
} 
.my_review h2 { 
  color:white;
}

/* 리뷰 박스 */
.my_review_box {
  padding: 0;
  margin-top: 30px;
  color: white;

  display:flex;
  flex-direction: column;
}
.my_review_box .box {
  color: white;
  display: flex;
  width: 1400px;
  overflow: hidden;
  font-size: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(26, 190, 62, 0.2), 0 6px 20px 0 rgba(114, 47, 168, 0.19); */
  display:flex;
  justify-content: end;
}
.my_review_box .box a {
  color:white;
  padding: 0;
  position: absolute;
  left: 0;
  font-size: 27px;
}
.my_review_box .box a:hover {
  color:#11f3a2;
}
.my_review_box .contentbox {
  color:#767676;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
}
hr {
  margin: 8px 0px 8px 0px;
}

/* ------추천 인생영화------ */
.recommended {
  display: none;
}
.recommended.active {
  display: grid;
  position: absolute;
  top: 20%;
  left: 22%;
}
.recommended h2 {
  color:white;
}
/* 그리드 박스 */
.recommended_box {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: center;
  grid-gap: 80px;
  width: 1700px;
}
.recommended_box .box {
  width: 250px;
  height: 357px;
  overflow: hidden;
}
.recommended_box .box a {
  width: 250px;
  height: 357px;
  padding: 0;
  overflow: hidden;
}
.recommended_box .box a img {
  color: white;
  text-align: center;
  /* margin: 30px 70px; */
  width: 250px;
  height: 357px;
  transition: all .5s ease;
  opacity: 0.8;
}
.recommended_box .box a:hover img {
  transform: scale(1.2) ;
  opacity: 1;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}