body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.recommend-title {
  color: #11f3a2;
  position: absolute;
  top: 15%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.recommend-movies {
  position: absolute;
  top: 40%;
  left: 50%;
  transform:translate(-50%, -50%);
  /* display: flex;
  justify-content: space-evenly; */
}

.winner-title {
  color: #11f3a2;
  position: absolute;
  top: 70%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.winner-movies {
  position: absolute;
  top: 95%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  /* display: flex;
  justify-content: center; */
}

img:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-2px);
  opacity: 0.5;
}
