{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>개인정보 수정</h2>
{% if user.image %}
  <img src="{{ user.image }}" alt="프로필 이미지" style="height: 80%; width: 80%;">
{% else %}
  <img src="{% static 'img/default.png' %}" alt="프로필 이미지">
{% endif %}
<form action="{% url 'accounts:change_personal_info' user.pk %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="formFile" class="form-label">프로필 이미지 업로드</label>
  <input class="form-control" type="file" name="image" accept="image/*"  id="formFile">
  {{ user_change_form }}
  <button>수정</button>
</form>

<a href="{% url 'accounts:change_password' %}">비밀번호 변경</a>

<form action="{% url 'accounts:delete_user' user.pk %}" method="POST">
  {% csrf_token %}
  <button>회원탈퇴</button>
</form>
{% endblock %}
