{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/change_profile_pw.css">

<section>

  <div class="change_pw">
    <h1>비밀번호 변경</h1>
    <form action="{% url 'accounts:change_password' %}" method="POST">
      {% csrf_token %}  
      {% for change_pw in change_password_form %}
        <div class="input_area">
          {{ change_pw }}
          <label for="">
            {{ change_pw.label }}
          </label>
        </div>
        <div class="helper">
          {{ change_pw.help_text }}
        </div>
      {% endfor %}
      <div class="change-btn">
        <button>변경하기</button>
      </div>
    </form>
  </div>

</section>
{% endblock %}
