{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/login.css">

<!-- 로그인 -->
<section>
  <div class="login">
    <h3>Navie</h3>
    <form action="{% url 'accounts:login' %}" method="POST">
      {% csrf_token %}

      <div class="login_area">
        <input type="text" name="username" required autofocus>
        <label for="id">아이디</label>
      </div>
      <div class="login_area">
        <input type="password" name="password" required>
        <label for="pw">비밀번호</label>
      </div>
      <div class="login_btn">
        <button type="submit">로그인</button>
      </div>

      <div class="login_finder">
        <a href="{% url 'accounts:signup' %}">회원가입</a>
      </div>
      <div class="login_finder">
        <a href="">아이디 / 비밀번호 찾기</a>
        {% comment %} <a href="{% url 'accounts:search_info' %}">아이디 / 비밀번호 찾기</a> {% endcomment %}
      </div>
    </form>
  </div>
</section>
{% comment %} 
추가 구현사항
1. 아이디 비밀번호 입력 안되어있으면 로그인 버튼 회색, 입력해서 valid면 초록색으로 변환
2. 잘못된 정보 입력하면 아이디 비밀번호 label 빨간색으로 변함.
3. 자동입력할시 박스 흰색되는것.
{% endcomment %}
<script>
</script>
{% endblock content %}
