{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/static/css/profile.css">

  <!-- 타이틀 및 회원정보 수정 -->
  <div class="titlebox">
    <h1>{{ person.name }} 님의 영화창고</h1>
    {% if request.user.username == person.username %}
      <div>
        <a href="{% url 'accounts:change_personal_info' person.pk %}">회원정보 변경</a>
      </div>
    {% endif %}
  </div>

  <!-- 프로필 메뉴 -->
  <ul class="profile_menu">
    <li id="button1">나의 관심영화</li>
    <li id="button2">내가 쓴 리뷰</li>
    <li id="button3">추천 인생영화</li>
  </ul>

  <!-- 나의 관심영화 -->
  <div class="my_like active">
    <h2>나의 관심영화</h2>
    <div class="my_like_box">
      {% for movie in person.like_movies.all %}
      <div class="box">
        <a href="{% url 'movies:detail_movie' movie.pk %}">
          <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"alt="">
        </a>
      </div>
      {% endfor %}
      <!-- 만약 4개이상이라면 넘어가기? -->
    </div>
  </div>

  <!-- 내가 쓴 리뷰 -->
 <div class="my_review">
    <h2>내가 쓴 리뷰</h2>
    <div class="my_review_box">
      {% for review in person.review_set.all %}
        {{ review }}

      {% endfor %}
    </div>
  </div>


  <!-- 추천 인생영화 -->
  <div class="recommended">
    <h2>추천 인생영화</h2>
    <div class="recommended_box">
      {% for movie in person.recommend_movies.all %}
        {{ movie }}

      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block script %}
<script src="/static/js/profile.js" defer></script>
{% endblock script %}