{% extends 'base.html' %}

{% block content %}
{% comment %} 비밀번호 찾기 {% endcomment %}
<link rel="stylesheet" href="/static/css/change_pw.css">
<section>
  <div class="change_pw">
    <h1>비밀번호 변경</h1>
    <form action="{% url 'accounts:search_change_password' user.pk %}" method="POST">
      {% csrf_token %}  
      {% for change_pw in password_change_form %}

        <div class="input_area">
          {{ change_pw }}
          <label for="">
            {{ change_pw.label }}
          </label>
        </div>
        <div class="helper">
          {{ change_pw.help_text }}
        </div>
      {% endfor %}

      <div class="change_btn">
        <button>변경하기</button>
      </div>
    </form>
  </div>
  
</section>

<script>
  const tagger = document.querySelector('.input_area input');
  tagger.setAttribute('autofocus', '');
</script>
{% endblock %}