{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="/static/css/signup.css">

  <form action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %}
    <section>
      <div class="signup">
        <h3>Navie</h3>
        {% for signs in signup_form %}
          <div class="signup_area">
            {{ signs }}
            <label for="">
              {{ signs.label }}
            </label>
          </div>
        {% endfor %}
        
        <div class="signup_btn">
          <button>회원가입</button>
        </div>
      </div> 
    </section>
  </form>

<script>
  let deleter = document.getElementsByClassName('accounts-id')
  console.log(deleter)
  deleter.removeAttribute('autofocus');
</script>
{% comment %} 
추가 구현사항
1. 아이디 비밀번호 입력 안되어있으면 회원가입 버튼 회색, 입력해서 valid면 초록색으로 변환
2. 잘못된 정보 입력하면 아이디 비밀번호 label 빨간색으로 변함.
{% endcomment %}
{% endblock %}
