<link rel="stylesheet" href="/static/css/navbar.css">
<script src="/static/js/navbar.js" defer></script>

<nav>
  <!-- 홈 링크 -->
  <div class="navbar_home">
    <a href="{% url 'movies:index' %}" class="navbar_homebutton">Navie</a>
  </div>

  <!-- 검색창 -->
  <div>
    <form action="{% url 'movies:search' %}" method="GET">
      <div>
        <input class="navbar_search" type="text" name="word" placeholder="검색어를 입력해주세요">
        <button type="submit" class="navbar_searchbutton">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </form>
  </div>

  <!-- 로그인 상태 -->
  {% if request.user.is_authenticated %}

    <!-- 인생영화 추천 -->
    <div class="navbar_lifemovie">
      <a href="">인생영화 추천</a>
    </div>
    

    <!-- 프로필 이미지 안에있는 -->
    <div class="navbar_dropdown">
      <!-- 프로필 이미지 -->
      <a href="#" class="navbar_profile_image">
        {% if user.image %}
          <img src="#" alt="">
        {% else %}
          <img src="/static/img/default.png" alt="">
        {% endif %}
      </a>
      
      <div class="navbar_dropdown_content">
        <!-- 프로필  -->
        <div class="navbar_myprofile">
          <a href="{% url 'accounts:profile' request.user.username %}">프로필</a>
        </div>

        <!-- 로그아웃 -->
        <div class="navbar_logout">
          <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <button>로그아웃</button>
          </form>
        </div>   
      </div>

    </div>

  

  <!-- 비로그인 상태 -->
  {% else %}

    <!-- 로그인 -->
    <div class="navbar_login">
      <a href="{% url 'accounts:login' %}">로그인</a>
    </div>
  {% endif %}

</nav>