<link rel="stylesheet" href="/static/css/main.css">
{% load static %}

<nav>
  <!-- 홈 링크 -->
  <div class="navbar_home">
    <a href="{% url 'movies:index' %}" class="navbar_homebutton">Navie</a>
  </div>

  <!-- 검색창 -->
  <div>
    <form action="{% url 'movies:search' %}" method="GET">
      <div>
        <input class="navbar_search" type="text" name="word" placeholder="검색어를 입력해주세요">
        <button type="submit" class="navbar_searchbutton">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </form>
  </div>

  <!-- 로그인 상태 -->
  {% if request.user.is_authenticated %}

    <!-- 인생영화 추천 -->
    <div class="navbar_lifemovie">
      <a href="">인생영화 추천</a>
    </div>

    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <button>로그아웃</button>
    
    <a href="{% url 'accounts:profile' request.user.username %}">프로필</a>
    
    </form>
  
  <!-- 프로필 -->
  <div class="navbar_profile">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
  </div>

  <!-- 비로그인 상태 -->
  {% else %}

    <!-- 로그인 -->
    <div class="navbar_login">
      <a href="{% url 'accounts:login' %}">로그인</a>
    </div>

  {% endif %}

</nav>